@inherits LayoutComponentBase

<PageTitle>LearnKyrgyz.Web</PageTitle>

<div>
    <div>
        <NavMenu />
    </div>

    <main>
        <div>
            <LoginDisplay />
        </div>

        <article>
            @Body
        </article>
    </main>
</div>
