<div>
    <div>
        <a href="">LearnKyrgyz.Web</a>
    </div>
</div>

<div>
    <nav>
        <div>
            <NavLink href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Home
            </NavLink>
        </div>
    </nav>
</div>

@code {

}
